
body {

  background-color:#999999
    

}
.header{
background-color:#424244;
padding: 2px 20px;;
margin-top:-10px;
margin-left:-10px;
margin-right:-10px;
  color: #7fcec9;
  font-family: monospace;
  text-align: center;
  font-size: 10pt;
}
 .simple{
 color: #ffffff;
  font-family: Arial;
  font-size: 20pt;
  
  text-align: left;
  margin-top: -45px;

 }
.sizeq{
font-family:  ink free;
  text-align: center;
  font-size: 15pt;
  font-weight:bold;
  margin-top: 45px;
}


