body {
  background-image: url("bg.jpg");
  height: 0px;
  background-position: top;
   background-repeat: no-repeat;
    background-size: cover;
    background-color:#7fcec9;

}

h1{
  color: #7fcec9;
  font-family: monospace;
  text-align: center;
  font-size: 20pt;
  

  }
 p{
  color: #000000;
  font-family: Arial;
  font-size: 
  font-weight: bold;
  text-align: right;
  margin-top: -60px;
  }

 div{
 color: #ffffff;
  font-family: Arial;
  font-size: 20pt;
  
  text-align: left;
  margin-top: -28px;

 }
   p:nth-child(4) {
  
  font-family:  ink free;
  text-align: center;
  font-size: 15pt;
  font-weight:bold;
  
  margin-top: 45px;
	 
 }
 p:nth-child(5) {
  
	 color:#424244;
  font-family:  ink free;
  font-size: 25pt;
  
  text-align: left;
  margin-top: 35px;
	 
 }
 ul{
	 float: center;
	
	 
	
 }
 ul li{
	 display:inline-block;
     margin-top:200px;
	 margin-left:200px;
    
 }
 ul li a{
	 text-decoration:none;
	 color:#fff;
	 padding:20px 40px;
	 border: 2px solid #fff;
     transition: 0.8s ease;
 }

ul li a:hover{
background-color:#fff;
color: #7fcec9;

}

}